body, html {
  
    background-image: url('../images/cave.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.instructions {

    text-align: center;
    background: rgb(240, 193, 222);
}

#scoreToMatch,
#totalScore {
    margin-left: 20px;
    /* background-color: rgba(255, 255, 255, 0.501); */
}

.words {
    background-color: rgba(255, 255, 255, 0.501);
}
